.product{
    box-shadow: 4px 4px 10px 0px gainsboro;
    width: 20%;
    min-width: 250px;
    padding: 15px 0;
    margin: 10px;
    flex-grow: 1 1;
}

.product-image{
    height: 100px;
}

.product-title{
    display: block;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 4px;
    width: 80%;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.product-price{
    color: rgb(20, 169, 52);
    font-weight: bolder;
    text-align: center;
    margin-top: 8px;
}

.product-category{
    font-size: 12px;
    text-transform: capitalize;
    color: black;
    font-weight: 400;
}

.product-rating{
    margin-top: 6px;
    font-weight: bold;
}

.add-to-cart{
    width: 50%;
    margin: 10px 0;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}